<!DOCTYPE html>
<!-- Template by Quackit.comQuackit.com -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>View By Tag</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Logo and responsive toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-fire"></span>
                Logo
            </a>
        </div>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/sortedDate}">Sorted By Date</a>
                </li>
                <li>
                    <a class = "nav-link" th:href="@{/tags}">Tags</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Content -->
<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Travel Photos
                <small>By Region</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="tag-button"  th:each="tag : ${tags}">
            <!--<a href="#">-->
                <button>
                    <a th:href="@{'/tags/' + ${tag.tag}}" th:text="@{${tag.tag}}"></a>
                </button>
            <!--</a>-->
        </div>

    </div>

</div>
<!-- /.container -->

<footer>
    <div class="footer-blurb">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 footer-blurb-item">
                    <img class="img-circle" src="http://lorempixel.com/100/100/people/3" alt="" width="100" height="100">
                    <h3>Opportunities</h3>
                    <p>Voluntourism</p>
                    <p>Careers</p>
                    <p><a class="btn btn-primary" href="#">More Stuff</a></p>
                </div>
                <div class="col-sm-4 footer-blurb-item">
                    <img class="img-circle" th:src="@{|otherImages/nada.jpg|}" alt="" width="90" height="100">
                    <h3>Founder</h3>
                    <p>Thanks for visiting this page! We hope you enjoyed browsing through our photo album of travels</p>
                    <p><a class="btn btn-primary" href="#">This takes you no where</a></p>
                </div>
                <div class="col-sm-4 footer-blurb-item">
                    <img class="img-circle" src="http://lorempixel.com/100/100/people/2" alt="" width="100" height="100">
                    <h3>Contact</h3>
                    <p>safetravels.com</p>
                    <p>1-800-TRAVEL</p>
                    <p><a class="btn btn-primary" href="#">More Stuff</a></p>
                </div>

            </div>
            <!-- /.row -->
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <p>Copyright &copy; safetravels.com 2015</p>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="js/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>